@import url("https://fonts.googleapis.com/css?family=Oswald:700");

body {
  background: #231f20;
  text-align: center;
}

h1 {
  color: #fff;
  font-family: "Oswald";
  font-weight: 700;
  position: relative;
  margin: 30px auto;
  text-transform: uppercase;
  width: 550px;
}

h1::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 200px 0px 0px 200px;
  -moz-border-radius: 200px 0px 0px 200px;
  -webkit-border-radius: 200px 0px 0px 200px;
  border: 0.45em solid #4a90e2;
}
h1::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 0px 200px 200px 0px;
  -moz-border-radius: 0px 200px 200px 0px;
  -webkit-border-radius: 0px 200px 200px 0px;
  border: 0.45em solid #4a90e2;
}
